.backdrop {
    background: url("./img/bandeau.jpg");
    position: fixed;
    width: 100%;
    height: 120px;
    z-index: 3;

}
.container {


   
    display: flex;
    height: 120px;
    position: fixed;
    width: 100%;
    z-index: 4;

}
.backdrop::before{
    background-color: rgba(0, 0, 0, 0.37);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
/* Burger menu */ 
.burger_menu {
    display: block;
    width: 270px;
    cursor: pointer;
}

.menu_btn {
    width: 300px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: start;
    margin-left: 25px;
    align-items: center;
    margin-top: 8px;
    transition: all .2s ease-in;
 
}

.menu_btn__burger {
    width: 50px;
    height: 4px;
    background: white;
    border-radius: 5px;
   transition: transform .2s ease-in;
}

.menu_btn__burger::before,
.menu_btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: all .2s ease-in;
}

.menu_btn__burger::before {
    transform: translateY(-16px);
}

.menu_btn__burger::after {
    transform: translateY(16px);
}


.menu_btn.open .menu_btn__burger {
    background: transparent;
    transform: translateX(-50px);
   
}

.menu_btn.open .menu_btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background: black;
}

.menu_btn.open .menu_btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: black;
}

.menu_btn .open{
    border: 3px solid black;
}

/* Burger menu */ 
.title {
   
    display: block;
    position: relative;
   
}
.title {
    text-transform: uppercase;
    display: inline-block;
    width: fit-content;
    height: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 25px;
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: white;
}
 .title .title_container span {
    display: inline-block;
    position: relative;
    top: -30px;
    width: 100%;
    /*animation-iteration-count: infinite;*/
    animation-duration: 5s;
    animation-name: slidein;
    border-bottom: 2px solid white;
}

.end {
    display: flex;
    gap: 30px;
   
}


.facebook {
    width: 70px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.facebook img {
    height: 50px;
    width: 50px
}
.facebook:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.logo {
    width: 140px;
    height: 140px;
    display: flex;
    background-color: rgb(247, 245, 245);
    border-radius: 50%;
    padding: 15px;
    margin: 25px;
    margin-top: 15px;
}
.logo:hover {
    transform: scale(1.1);
}

.logo img {
    width: 100%
}

@media screen and (max-width: 1000px) {
    .title { 
        font-size: 20px;
        align-items: start;
        justify-content: start;
        top: 0px;
        height: 50px;
    }
    .title-container { 
        font-size: 20px;
        align-items: start;
        justify-content: start;
    }
    .container {

       
        display: flex;
        height: 75px;
        position: fixed;
        width: 100%;
    
    }

    .backdrop {
    
        height: 75px;
    }
        /* Burger menu */ 
        
    .burger_menu {
        display: block;
        width: 50px;
        margin-top: 15px;
        margin-left: 0px;
    }
    

    .menu_btn {
        width: 25px;
        height: 25px;
        margin-left: 25px;
        /*transition: all .2s ease-in-out;*/
    
    }

    .menu_btn__burger {
        width: 25px;
        height: 3px;
 
        border-radius: 3px;
    /* transition: transform .2s ease-in-out;*/
    }

    .menu_btn__burger::before,
    .menu_btn__burger::after {
        width: 25px;
        height: 3px;
  
        border-radius: 3px;
        /*transition: all .2s ease-in-out;*/
    }

    .menu_btn__burger::before {
        transform: translateY(-8px);
    }

    .menu_btn__burger::after {
        transform: translateY(8px);
    }


   


    .title {
        align-items: center;
        font-size: 25px;
        width: calc((100% - 100px));
        margin-top: 20px;
        
    }
 
    .title .title_container span {
        top: -15px;
    }
    .end {
        display: flex;
        gap: 5px;
        width: 120px;
    }
    
    
    .facebook {
        width: 40px;
        height: 80px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .facebook img {
        height: 30px;
        width: 30px
    }
    
    .logo {
        width: 40px;
        height: 40px;
        margin-left: 0px;
        margin-top: 2px
    
    }

    
}
@media screen and (max-width: 450px) {
    .title {
        align-items: center;      
        font-size: 18px;
        margin-top: 25px;
        
    }
    .facebook {
        height: 70px;
    }

    
    .logo {
        width: 30px;
        height: 30px;
        margin-right: 20px;
        margin-top: 7px
    
    }
    .burger_menu {
        display: block;
        width: 40px;
        margin-top: 15px;
       
    }
    

    .menu_btn {
        width: 20px;
        height: 20px;
        margin-left: 20px;
        /*transition: all .2s ease-in-out;*/
    
    }

    .menu_btn__burger {
        width: 20px;

    /* transition: transform .2s ease-in-out;*/
    }

    .menu_btn__burger::before,
    .menu_btn__burger::after {
        width: 20px;
        height: 3px;
  
        border-radius: 3px;
        /*transition: all .2s ease-in-out;*/
    }


   


}
@keyframes slidein {
    from {
      border-bottom: 2px solid transparent;
      width: 0px;
    }
  
    to {
        border-bottom: 2px solid white;
        width: 100%;
    }
  }
  